.Button{
  cursor: pointer;
  background: #B70094;
  box-sizing: border-box;
  border-top: 3px solid #892276;
  border-right: 3px solid #892276;
  border-radius: 5px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: cursive;
}

.Button:hover{
  background: #892276;
}

.Button-square{
  width: 60px;
  height: 60px;
}

.Button-default {
    width: 120px;
    height: 30px;
}